numpy==1.18.5
streamlit==1.17.0
presidio_analyzer==2.2.30
presidio_anonymizer==2.2.30
pandas==1.5.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.4.1/en_core_web_trf-3.4.1.tar.gz